#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path


#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus deleniti, praesentium laboriosam consequatur quia expedita laborum eos neque fugit veritatis consectetur dignissimos incidunt dolorum nobis accusantium dolor et eligendi temporibus numquam ipsa sit vero eveniet fuga explicabo asperiores? Consequuntur quidem dolor laudantium, nobis error officiis nulla aspernatur eos cum ut?


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %banner
    %button= link_to "Join Now", new_user_registration_path